@blue: #2d8cf0;
@gray: #666666;
@gold: #ff9c00;
.flex {
    display: flex;
    align-items: center;
}
.btn(@width, @hight) {
    width: @width;
    height: @hight;
    line-height: @hight;
    text-align: center;
    border-radius: 5rpx;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}